aiofiles==0.5.0
aniso8601==7.0.0
appdirs==1.4.4
argon2-cffi==20.1.0
astroid==2.4.2
attrs==19.3.0
black==19.10b0
bottle==0.12.18
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
click==7.1.2
colorama==0.4.3
conan==1.20.1
couchbase==3.0.3
cryptography==3.0
Deprecated==1.2.10
deprecation==2.0.7
distro==1.1.0
dnspython==2.0.0
ecdsa==0.15
email-validator==1.1.1
fastapi==0.60.1
fasteners==0.15
future==0.18.2
graphene==2.1.8
graphql-core==2.3.2
graphql-relay==2.0.1
h11==0.9.0
httptools==0.1.1
idna==2.10
isort==4.3.21
itsdangerous==1.1.0
jedi==0.17.2
Jinja2==2.11.2
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
monotonic==1.5
mypy-extensions==0.4.3
node-semver==0.6.1
orjson==3.2.2
packaging==20.4
parso==0.7.0
passlib==1.7.2
patch-ng==1.17.1
pathspec==0.8.0
pluginbase==0.7
promise==2.3
prompt-toolkit==3.0.5
ptpython==3.0.3
pyasn1==0.4.8
pycparser==2.20
pydantic==1.6.1
pydeps==1.9.3
PyGithub==1.51
Pygments==2.6.1
PyJWT==1.7.1
pylint==2.5.3
pyparsing==2.4.7
pyrsistent==0.16.0
python-dateutil==2.8.1
python-dotenv==0.14.0
python-jose==3.1.0
python-multipart==0.0.5
PyYAML==5.3.1
regex==2020.7.14
requests==2.24.0
rope==0.17.0
rsa==4.6
Rx==1.6.1
-e git+https://github.com/schoolsyst/api-next@ff871bd0805f4ec8ffb3d85348d049d61935ef97#egg=schoolsyst_api
six==1.15.0
starlette==0.13.6
stdlib-list==0.7.0
toml==0.10.1
tqdm==4.48.0
typed-ast==1.4.1
ujson==3.0.0
urllib3==1.25.10
uvicorn==0.11.6
uvloop==0.14.0
vulture==1.5
wcwidth==0.2.5
websockets==8.1
wrapt==1.12.1
